# Pandas

In [1]:
#Import pandas and numpy
import pandas as pd # used for mathematical computation # built on top of numpy
import numpy as np

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

Data stractures used in pandas
1. pandas series
2. pandas data Frame

In [23]:
nums1 = [2,4,6,9]

num2 = nums1 *6
num2

[2, 4, 6, 9, 2, 4, 6, 9, 2, 4, 6, 9, 2, 4, 6, 9, 2, 4, 6, 9, 2, 4, 6, 9]

In [24]:
nums = pd.Series([2,4,6,9])
num2s = nums *6
num2s

0    12
1    24
2    36
3    54
dtype: int64

In [7]:
list1 = ["banana", "kiwi", "apple"]

type(list1)
list1

['banana', 'kiwi', 'apple']

In [10]:
#create a series
lseries1 = pd.Series(["banana", "kiwi", "apple"], ["Nai", "mombasa", "kisumu"])
type(lseries1)
lseries1

Nai        banana
mombasa      kiwi
kisumu      apple
dtype: object

In [11]:
df = pd.DataFrame(lseries1)
df

              0
Nai      banana
mombasa    kiwi
kisumu    apple

In [8]:
list_s = pd.Series(list1)
type(list_s)
list_s

0    banana
1      kiwi
2     apple
dtype: object

In [ ]:
list2 = [5, 7, 10]
series2 = pd.Series(list2)
print(series2)

0     5
1     7
2    10
dtype: int64

In [27]:
data = [('Boat', 5), ('Car', 7), ('Ship', 10)]
df = pd. DataFrame(data, columns=('Item', 'Price'))
print(df)
#save df to a scsv file
df.to_csv("items.csv", index=False)

   Item  Price
0  Boat      5
1   Car      7
2  Ship     10

In [16]:
#checking/proving dataframe is combination of series
type(df["Item"])

pandas.core.series.Series

In [17]:
type(df['Price'])

pandas.core.series.Series

In [18]:
type(df)

pandas.core.frame.DataFrame

## Reading from files

In [31]:
#Loading the dataset #excel dataset
df1 = pd.read_excel("Sample_Superstore.xlsx")
df1.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Preferred Stainless Steel Scissors,0.56,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523

## Writing to files

In [28]:
#saving the file to csv # use to_csv() and set index = False
df.to_csv("super.csv", index=False)

## Dataframe basics

In [39]:
#setting the default data view # pd.set_option("display.max_columns", 500)
pd.set_option("display.max_columns", 500)

In [42]:
#Displaying the top 3 rows # use head()
df1.head(3)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.32,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.56,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.64,7,49.92,88523

In [45]:
#Displaying the last 3 rows # use tail()
df1.tail(3)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,Tables,Jumbo Box,Chromcraft Bull-Nose Wood Oval Conference Tabl...,0.71,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,Office Furnishings,Medium Box,"Tenex 46"" x 60"" Computer Anti-Static Chairmat,...",0.65,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,Envelopes,Small Box,Staples #10 Colored Envelopes,0.38,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [79]:
#Displaying 3 random rows #use sample()
df1.sample(3, random_state=42) # reproduciticy

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
8081,26240,Medium,0.07,6.48,5.94,2945,Benjamin Norman Rodgers,Regular Air,Corporate,Office Supplies,Paper,Small Box,"Eureka Recycled Copy Paper 8 1/2"" x 11"", Ream",0.37,Central,Michigan,Mount Pleasant,48858,2011-05-11,2011-05-13,-60.1700,8,50.28,90310
2362,19311,Not Specified,0.02,12.53,0.49,899,Jordan Berry,Regular Air,Small Business,Office Supplies,Labels,Small Box,Round Specialty Laser Printer Labels,0.38,East,Pennsylvania,Altoona,16602,2010-07-27,2010-07-27,104.7213,12,151.77,86264
6231,25185,Not Specified,0.05,34.99,7.73,2287,Samuel Newman,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Small Box,Hunt Boston® Vacuum Mount KS Pencil Sharpener,0.59,South,South Carolina,Summerville,29483,2010-03-25,2010-03-27,-12.0267,12,418.75,90146

In [52]:
#checking the columns # use columns attribute
df1.columns # features, attribute

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [55]:
#checking the index # use df.index
df1.index

RangeIndex(start=0, stop=9426, step=1)

## Dataframe summary

In [81]:
#Checking the data Summary # use info(), we can also use info(verbose=False)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9426 entries, 0 to 9425
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                9426 non-null   int64
 1   Order Priority        9426 non-null   object
 2   Discount              9426 non-null   float64
 3   Unit Price            9426 non-null   float64
 4   Shipping Cost         9426 non-null   float64
 5   Customer ID           9426 non-null   int64
 6   Customer Name         9426 non-null   object
 7   Ship Mode             9426 non-null   object
 8   Customer Segment      9426 non-null   object
 9   Product Category      9426 non-null   object
 10  Product Sub-Category  9426 non-null   object
 11  Product Container     9426 non-null   object
 12  Product Name          9426 non-null   object
 13  Product Base Margin   9354 non-null   float64
 14  Region                9426 non-null   object
 15  State or Province     9426 non-null   object
 16  City                  9426 non-null   object
 17  Postal Code           9426 non-null   int64
 18  Order Date            9426 non-null   datetime64[ns]
 19  Ship Date             9426 non-null   datetime64[ns]
 20  Profit                9426 non-null   float64
 21  Quantity ordered new  9426 non-null   int64
 22  Sales                 9426 non-null   float64
 23  Order ID              9426 non-null   int64
dtypes: datetime64[ns](2), float64(6), int64(5), object(11)
memory usage: 1.7+ MB

In [83]:
df1.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9426 entries, 0 to 9425
Columns: 24 entries, Row ID to Order ID
dtypes: datetime64[ns](2), float64(6), int64(5), object(11)
memory usage: 1.7+ MB

In [85]:
#Checking concise Descriptive statistics for numerical variables# use df.describe()
df1.describe().T

,count,mean,min,25%,50%,75%,max,std
Row ID,9426.0,20241.015277,2.0,19330.25,21686.5,24042.75,26399.0,6101.890965
Discount,9426.0,0.049628,0.0,0.02,0.05,0.08,0.25,0.031798
Unit Price,9426.0,88.303686,0.99,6.48,20.99,85.99,6783.02,281.540982
Shipping Cost,9426.0,12.795142,0.49,3.1925,6.05,13.99,164.73,17.181203
Customer ID,9426.0,1738.422236,2.0,898.0,1750.0,2578.75,3403.0,979.167197
Product Base Margin,9354.0,0.512189,0.35,0.38,0.52,0.59,0.85,0.135229
Postal Code,9426.0,52446.327286,1001.0,29406.0,52302.0,78516.0,99362.0,29374.597802
Order Date,9426,2012-03-05 18:33:59.465308672,2010-01-01 00:00:00,2011-03-07 06:00:00,2012-04-08 00:00:00,2013-03-26 00:00:00,2013-12-31 00:00:00,NaN
Ship Date,9426,2012-03-07 19:16:18.485041408,2010-01-02 00:00:00,2011-03-09 00:00:00,2012-04-09 00:00:00,2013-03-28 00:00:00,2014-01-17 00:00:00,NaN
Profit,9426.0,139.23641,-16476.838,-74.017375,2.5676,140.24385,16332.414,998.486483
Quantity ordered new,9426.0,13.79843,1.0,5.0,10.0,17.0,170.0,15.107688
Sales,9426.0,949.706272,1.32,61.2825,203.455,776.4025,100119.16,2598.019818
Order ID,9426.0,82318.489073,6.0,86737.25,88344.5,89987.75,91591.0,19149.448857

In [91]:
df1.describe(include="O").T

,count,unique,top,freq
Order Priority,9426,6,High,1970
Customer Name,9426,2703,Louis Parrish,27
Ship Mode,9426,3,Regular Air,7036
Customer Segment,9426,4,Corporate,3375
Product Category,9426,3,Office Supplies,5181
Product Sub-Category,9426,17,Paper,1379
Product Container,9426,7,Small Box,4887
Product Name,9426,1263,"Global High-Back Leather Tilter, Burgundy",27
Region,9426,4,Central,2899
State or Province,9426,49,California,1021
City,9426,1424,New York City,202

In [92]:
#Checking concise Descriptive statistics for categorical variables# use df['col'].describe()
df1['Region'].describe()

count        9426
unique          4
top       Central
freq         2899
Name: Region, dtype: object

In [96]:
#checking the number of variables and records, use df.shape,   or len(df)
df1.shape, len(df1)

((9426, 24), 9426)

## Subsetting Columns

This is the act of selecting  a few columns from the entire dataframe.

In [102]:
#selcting the specific columns# use df[['col1', 'col2', 'col3']] e.g. selsct Order Date, Product Date, and ship mode
df1_sale = df1['Sales'] # when we select a column using single [] output will be a series
print(type(df1_sale))
df1_sale.head()

<class 'pandas.core.series.Series'>

0       5.90
1      13.01
2      49.92
3      41.64
4    1446.67
Name: Sales, dtype: float64

In [103]:
# to make a single column a dataframe we use double [[]]
df1_sale1 = df1[["Sales"]]
print(type(df1_sale1))
df1_sale1.head()

<class 'pandas.core.frame.DataFrame'>

     Sales
0     5.90
1    13.01
2    49.92
3    41.64
4  1446.67

In [105]:
#selecting a few cloumns
df3n = df1[['Region', 'Unit Price', 'Sales']]
df3n.head()

    Region  Unit Price    Sales
0  Central        2.88     5.90
1     West        2.84    13.01
2     West        6.68    49.92
3     West        5.68    41.64
4     West      205.99  1446.67

In [110]:
# we can use slicing as well e.g. df[df.columns[1:5]]df
df1[df1.columns[:5]]

      Row ID Order Priority  Discount  Unit Price  Shipping Cost
0      18606  Not Specified      0.01        2.88           0.50
1      20847           High      0.01        2.84           0.93
2      23086  Not Specified      0.03        6.68           6.15
3      23087  Not Specified      0.01        5.68           3.60
4      23088  Not Specified      0.00      205.99           2.50
...      ...            ...       ...         ...            ...
9421   20275       Critical      0.06       35.89          14.72
9422   20276       Critical      0.00        3.34           7.49
9423   24491  Not Specified      0.08      550.98          45.70
9424   25914           High      0.10      105.98          13.99
9425   24492  Not Specified      0.09        7.78           2.50

[9426 rows x 5 columns]

In [112]:
#list comprehension
fruits = ["banana", "orange", "kiwi"]

for fruit in fruits:
    print(fruit)

banana
orange
kiwi

In [118]:
[fruit[:3] for fruit in fruits if fruit == "orange"]

['ora']

In [121]:
#Using list comprehnsion e.g df[[c for c in df.columns]]
df1[[c for c in df1.columns[:5]]]

      Row ID Order Priority  Discount  Unit Price  Shipping Cost
0      18606  Not Specified      0.01        2.88           0.50
1      20847           High      0.01        2.84           0.93
2      23086  Not Specified      0.03        6.68           6.15
3      23087  Not Specified      0.01        5.68           3.60
4      23088  Not Specified      0.00      205.99           2.50
...      ...            ...       ...         ...            ...
9421   20275       Critical      0.06       35.89          14.72
9422   20276       Critical      0.00        3.34           7.49
9423   24491  Not Specified      0.08      550.98          45.70
9424   25914           High      0.10      105.98          13.99
9425   24492  Not Specified      0.09        7.78           2.50

[9426 rows x 5 columns]

## Select dtypes

In [128]:
# Selecting the numerical variables use df.select_dtypes(), include what you want to select as an argument
df1.select_dtypes(include=['int', 'float'])# you can change int to object and rerun the code... we use include number as well

,Row ID,Discount,Unit Price,Shipping Cost,Customer ID,Product Base Margin,Postal Code,Profit,Quantity ordered new,Sales,Order ID
0,18606,0.01,2.88,0.50,2,0.36,60101,1.320000,2,5.90,88525
1,20847,0.01,2.84,0.93,3,0.54,98221,4.560000,4,13.01,88522
2,23086,0.03,6.68,6.15,3,0.37,98221,-47.640000,7,49.92,88523
3,23087,0.01,5.68,3.60,3,0.56,98221,-30.510000,7,41.64,88523
4,23088,0.00,205.99,2.50,3,0.59,98221,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,0.06,35.89,14.72,3402,0.40,25314,137.860000,13,447.87,87532
9422,20276,0.00,3.34,7.49,3402,0.54,25314,-39.070000,3,13.23,87532
9423,24491,0.08,550.98,45.70,3402,0.71,25314,-1225.029097,4,2215.93,87533
9424,25914,0.10,105.98,13.99,3403,0.65,82001,349.485000,5,506.50,87530
9425,24492,0.09,7.78,2.50,3403,0.38,82001,78.062400,23,172.48,87533

## Select as series vs dataframe

In [129]:
#checking the series, use df['Col name']
series3 = df1['Region']
type(series3)

pandas.core.series.Series

In [130]:
#making the above as a dataframe , use df[['col name']]
fr = df1[['Region']]
type(fr)

pandas.core.frame.DataFrame

## loc and iloc

We can use loc(variable location), and iloc(index location) to access the variables as well

### iloc

In [137]:
df1.head(6)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Preferred Stainless Steel Scissors,0.56,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523
5,23597,Medium,0.09,55.48,14.30,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 194,0.37,West,Washington,Anacortes,98221,2011-11-09,2011-11-11,1388.0523,37,2011.67,88524

In [135]:
# getting the value using iloc e.g df.iloc[1, 1]
df1.iloc[3,2]

0.01

In [156]:
df1.isnull().sum()

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [138]:
#slicing e.g df.iloc[:5, :5]
df1.iloc[:5,:5]

   Row ID Order Priority  Discount  Unit Price  Shipping Cost
0   18606  Not Specified      0.01        2.88           0.50
1   20847           High      0.01        2.84           0.93
2   23086  Not Specified      0.03        6.68           6.15
3   23087  Not Specified      0.01        5.68           3.60
4   23088  Not Specified      0.00      205.99           2.50

In [143]:
#Getting specific row e.g df.iloc[5], we can present our result in dataframe formart as well
df1.iloc[[5]]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
5,23597,Medium,0.09,55.48,14.3,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 194,0.37,West,Washington,Anacortes,98221,2011-11-09,2011-11-11,1388.0523,37,2011.67,88524

In [ ]:
#Checking the index 1 columns e.g df.iloc[:, 1]

In [ ]:
#getting index 1 and 2 columns, e.g  df.iloc[:, [1, 2]]

Loc

we use loc when we want to select the variable by the name

In [ ]:
df.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [146]:
#subsetting  2 columns df.loc[:, ['col1', 'col2']]
df1.loc[:, ['Discount', 'Sales']]

      Discount    Sales
0         0.01     5.90
1         0.01    13.01
2         0.03    49.92
3         0.01    41.64
4         0.00  1446.67
...        ...      ...
9421      0.06   447.87
9422      0.00    13.23
9423      0.08  2215.93
9424      0.10   506.50
9425      0.09   172.48

[9426 rows x 2 columns]

#### loc filter expressions

we can use loc filter to get specific records

In [151]:
#Get the records of a specific value e.g  df.loc[df['Region'] == 'West']
df1.loc[df1['Region']== "Central"]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.32000,2,5.90,88525
19,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,Office Furnishings,Small Box,Howard Miller 12-3/4 Diameter Accuwave DS ™ Wa...,0.43,Central,Minnesota,Prior Lake,55372,2010-05-12,2010-05-14,803.47050,16,1164.45,86838
20,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,Pens & Art Supplies,Wrap Bag,Newell 321,0.56,Central,Minnesota,Prior Lake,55372,2010-05-12,2010-05-13,-24.03000,7,22.23,86838
21,24847,Medium,0.05,3.28,4.20,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,Pens & Art Supplies,Wrap Bag,Newell 351,0.56,Central,Minnesota,Prior Lake,55372,2010-05-12,2010-05-13,-37.03000,4,13.99,86838
22,24848,Medium,0.05,3.58,1.63,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,Rubber Bands,Wrap Bag,"OIC Colored Binder Clips, Assorted Sizes",0.36,Central,Minnesota,Prior Lake,55372,2010-05-12,2010-05-13,-0.71000,4,14.26,86838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9408,22194,High,0.00,160.98,35.02,3398,Marc McDaniel,Delivery Truck,Small Business,Furniture,Bookcases,Jumbo Box,Rush Hierlooms Collection Rich Wood Bookcases,0.72,Central,Illinois,Decatur,62521,2012-11-25,2012-11-26,1790.42600,41,7158.10,87544
9409,26208,Not Specified,0.08,11.97,5.81,3399,Marvin Reid,Regular Air,Small Business,Office Supplies,Pens & Art Supplies,Small Pack,Staples SlimLine Pencil Sharpener,0.60,Central,Illinois,Des Plaines,60016,2010-03-29,2010-03-31,-41.87000,5,59.98,87534
9410,26073,Critical,0.05,59.78,10.29,3399,Marvin Reid,Regular Air,Small Business,Office Supplies,Binders and Binder Accessories,Small Box,GBC Recycled Regency Composition Covers,0.39,Central,Illinois,Des Plaines,60016,2013-11-11,2013-11-13,1176.91230,29,1705.67,87551
9411,26074,Critical,0.05,4.13,0.50,3399,Marvin Reid,Regular Air,Small Business,Office Supplies,Labels,Small Box,Avery 506,0.39,Central,Illinois,Des Plaines,60016,2013-11-11,2013-11-13,117.26550,40,169.95,87551
9412,26075,Critical,0.01,30.98,17.08,3399,Marvin Reid,Regular Air,Small Business,Office Supplies,Paper,Small Box,Xerox 197,0.40,Central,Illinois,Des Plaines,60016,2013-11-11,2013-11-13,3.90688,11,373.27,87551

In [152]:
# sales above 50
sales-50 = df1.loc[df1['Sales']> 50]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
5,23597,Medium,0.09,55.48,14.30,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 194,0.37,West,Washington,Anacortes,98221,2011-11-09,2011-11-11,1388.052300,37,2011.67,88524
6,25549,Low,0.08,120.97,26.30,3,Bonnie Potter,Delivery Truck,Corporate,Technology,Office Machines,Jumbo Drum,Canon S750 Color Inkjet Printer,0.38,West,Washington,Anacortes,98221,2013-07-01,2013-07-08,1001.445300,12,1451.37,88526
7,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,Chairs & Chairmats,Jumbo Drum,Global Troy™ Executive Leather Low-Back Tilter,0.60,West,California,San Gabriel,91776,2010-12-13,2010-12-15,4390.366500,12,6362.85,90193
8,19483,Low,0.08,6.48,6.81,5,Ronnie Proctor,Regular Air,Home Office,Office Supplies,Paper,Small Box,Xerox 1930,0.36,West,California,San Gabriel,91776,2012-05-12,2012-05-21,-141.260000,18,113.25,90197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9420,18329,High,0.08,212.60,52.20,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,Tables,Jumbo Box,Bush Advantage Collection® Round Conference Table,0.64,East,West Virginia,Charleston,25314,2011-04-12,2011-04-12,-513.790420,10,1969.31,87531
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,Envelopes,Small Box,Jet-Pak Recycled Peel 'N' Seal Padded Mailers,0.40,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,Tables,Jumbo Box,Chromcraft Bull-Nose Wood Oval Conference Tabl...,0.71,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,Office Furnishings,Medium Box,"Tenex 46"" x 60"" Computer Anti-Static Chairmat,...",0.65,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,Envelopes,Small Box,Staples #10 Colored Envelopes,0.38,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [157]:
#we can use loc to get records of more than one specific variables
df1.loc[(df1['Product Category'] == 'Furniture') & (df1['Order Date'] == '2010-07-07')]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
1639,25539,Critical,0.03,14.20,5.30,619,Howard Rogers,Regular Air,Consumer,Furniture,Office Furnishings,Wrap Bag,Coloredge Poster Frame,0.46,Central,Michigan,Southgate,48195,2010-07-07,2010-07-08,107.0200,14,205.98,88196
4805,19419,Low,0.03,5.08,2.03,1781,Jackie Capps,Regular Air,Home Office,Furniture,Office Furnishings,Wrap Bag,"Master Caster Door Stop, Brown",0.51,West,California,San Carlos,94070,2010-07-07,2010-07-12,15.1524,4,21.96,89858
8467,19739,Medium,0.00,137.48,32.18,3076,Peter Hardy,Delivery Truck,Small Business,Furniture,Bookcases,Jumbo Box,O'Sullivan Cherrywood Estates Traditional Barr...,0.78,East,Ohio,Stow,44224,2010-07-07,2010-07-08,-203.2700,2,296.75,88241
8492,1739,Medium,0.00,137.48,32.18,3079,Andrew Levine,Delivery Truck,Small Business,Furniture,Bookcases,Jumbo Box,O'Sullivan Cherrywood Estates Traditional Barr...,0.78,East,Pennsylvania,Philadelphia,19112,2010-07-07,2010-07-08,-203.2700,10,1483.76,12480

In [158]:
#we can use tilde(~) to get the records of those not represented in the code
df1.loc[~((df1['Product Category'] == 'Furniture') & (df1['Order Date'] == '2010-07-07'))]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Preferred Stainless Steel Scissors,0.56,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,Envelopes,Small Box,Jet-Pak Recycled Peel 'N' Seal Padded Mailers,0.40,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,Pens & Art Supplies,Wrap Bag,"Eldon Spacemaker® Box, Quick-Snap Lid, Clear",0.54,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,Tables,Jumbo Box,Chromcraft Bull-Nose Wood Oval Conference Tabl...,0.71,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,Office Furnishings,Medium Box,"Tenex 46"" x 60"" Computer Anti-Static Chairmat,...",0.65,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,Envelopes,Small Box,Staples #10 Colored Envelopes,0.38,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

## query

Query method is another way of getting specific records

In [161]:
?df1.query

In [164]:
#getting specific records e.g df.query('Sales >200 and Region == "West"')
df1.query('Sales >200 and Region == "West"')

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
5,23597,Medium,0.09,55.48,14.30,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 194,0.37,West,Washington,Anacortes,98221,2011-11-09,2011-11-11,1388.052300,37,2011.67,88524
6,25549,Low,0.08,120.97,26.30,3,Bonnie Potter,Delivery Truck,Corporate,Technology,Office Machines,Jumbo Drum,Canon S750 Color Inkjet Printer,0.38,West,Washington,Anacortes,98221,2013-07-01,2013-07-08,1001.445300,12,1451.37,88526
7,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,Chairs & Chairmats,Jumbo Drum,Global Troy™ Executive Leather Low-Back Tilter,0.60,West,California,San Gabriel,91776,2010-12-13,2010-12-15,4390.366500,12,6362.85,90193
9,24782,High,0.01,90.24,0.99,6,Dwight Hwang,Regular Air,Home Office,Office Supplies,Appliances,Small Box,Kensington 6 Outlet MasterPiece® HOMEOFFICE Po...,0.56,West,California,San Jose,95123,2011-05-26,2011-05-26,1045.467300,16,1515.17,90194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9378,19464,Not Specified,0.03,95.99,35.00,3388,Aaron Shaffer,Regular Air,Corporate,Office Supplies,Storage & Organization,Large Box,Safco Industrial Wire Shelving,NaN,West,California,Fairfield,94533,2010-11-11,2010-11-12,67.012000,9,894.64,90154
9384,18640,Medium,0.08,125.99,7.69,3393,Irene Murphy,Regular Air,Consumer,Technology,Telephones and Communication,Small Box,StarTAC 3000,0.59,West,Washington,Pullman,99163,2010-04-29,2010-04-30,374.625000,7,710.36,87908
9386,18429,High,0.03,160.98,30.00,3393,Irene Murphy,Delivery Truck,Consumer,Furniture,Chairs & Chairmats,Jumbo Drum,Office Star - Mid Back Dual function Ergonomic...,0.62,West,Washington,Pullman,99163,2012-08-21,2012-08-23,836.703200,11,1852.24,87912
9392,22579,Not Specified,0.07,125.99,7.69,3394,Julia Padgett,Regular Air,Consumer,Technology,Telephones and Communication,Small Box,Timeport L7089,0.58,West,Washington,Puyallup,98373,2013-08-19,2013-08-20,139.258512,10,995.95,87913
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,Office Furnishings,Medium Box,"Tenex 46"" x 60"" Computer Anti-Static Chairmat,...",0.65,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530

In [ ]:
#Another different way of using query method
#min_sale = 600
#df.query('Sales > @min_Sale and (Region == "West")')
#----------------------------------------------
min_Sale = 600
query_expression = 'Sales > {} and (Region == "West")'.format(min_Sale)
df.query(query_expression)

## Summary Statistics

This is when we want to infer or get more information on the variable performance

In [165]:
#we can use min, max, mean, std, and quantile
df1['Sales'].min()

1.32

In [166]:
df1['Sales'].max()

100119.16

In [167]:
round(df1['Sales'].mean(),1)

949.7

In [168]:
df1['Sales'].std()

2598.0198182734284

In [169]:
df1['Sales'].quantile([.25, .5,.75])

0.25     61.2825
0.50    203.4550
0.75    776.4025
Name: Sales, dtype: float64

## agg

This is used when we need to get summary statistics of more than 1 at ago.

In [170]:
# Getting  min, mean, max of 3 variables('Sales','Discount', 'Profit'), use  df[['col1','col2', 'col3']].agg(['mean', 'min', 'max'])
df1[['Discount','Profit', 'Sales']].agg(['mean', 'min', 'max'])

      Discount       Profit          Sales
mean  0.049628    139.23641     949.706272
min   0.000000 -16476.83800       1.320000
max   0.250000  16332.41400  100119.160000

In [ ]:
df1.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [171]:
#anaother way of doing the above

df1[['Sales','Discount', 'Profit']].agg(
    {
        'Sales': ['min', 'max'],
        'Discount': ['mean'],
        'Profit': ['min', 'max']
    }
)

          Sales  Discount     Profit
min        1.32       NaN -16476.838
max   100119.16       NaN  16332.414
mean        NaN  0.049628        NaN

## Summarize categoricals

we use different way to categorize categorical variables

In [173]:
#use unique to see the unique values in the variable, use  df['col'].unique()
df1['Region'].unique()

array(['Central', 'West', 'East', 'South'], dtype=object)

In [174]:
#nunique is used to get the number, use  df['col'].nunique()
df1['Region'].nunique()

4

In [177]:
#Value count is used to get the number of occurances use df['col'].value_counts()
import matplotlib.pyplot as plt
df1[['Product Category']].value_counts()

Product Category
Office Supplies     5181
Technology          2312
Furniture           1933
Name: count, dtype: int64

In [178]:
# valuse counts for 2 variable, return dataframe  df[['col1', 'col2']].value_counts()
df1[['Product Category','Region']].value_counts()

Product Category  Region
Office Supplies   Central    1559
                  East       1272
                  West       1251
                  South      1099
Technology        Central     717
Furniture         Central     623
Technology        West        572
                  East        538
                  South       485
Furniture         East        479
                  West        461
                  South       370
Name: count, dtype: int64

In [181]:
# we use reset index so that the result starts from index zero use df[['col1', 'col2']].value_counts().reset_index()
df1[['Product Category','Region']].value_counts().reset_index()

   Product Category   Region  count
0   Office Supplies  Central   1559
1   Office Supplies     East   1272
2   Office Supplies     West   1251
3   Office Supplies    South   1099
4        Technology  Central    717
5         Furniture  Central    623
6        Technology     West    572
7        Technology     East    538
8        Technology    South    485
9         Furniture     East    479
10        Furniture     West    461
11        Furniture    South    370

## shift, cumsum

In [ ]:
df[['Sales']].head()

     Sales
0     5.90
1    13.01
2    49.92
3    41.64
4  1446.67

In [ ]:
#shift is commonly used in time series , use df[['col']].shift(1)
df['_sales'] = df[['Sales']].shift(1)

In [ ]:
#shift last value df[['col']].shift(-1)
df[['Sales']].shift(-1)

        Sales
0       13.01
1       49.92
2       41.64
3     1446.67
4     2011.67
...       ...
9421    13.23
9422  2215.93
9423   506.50
9424   172.48
9425      NaN

[9426 rows x 1 columns]

In [ ]:
#fill up the shitfed value, use df[['col']].shift(3, fill_value=100)
df[['Sales']].shift(1, fill_value= 00)

        Sales
0        0.00
1        5.90
2       13.01
3       49.92
4       41.64
...       ...
9421  1969.31
9422   447.87
9423    13.23
9424  2215.93
9425   506.50

[9426 rows x 1 columns]

In [ ]:
#summing up the sum values, use df[['col']].cumsum()
df[['Sales']].cumsum()

           Sales
0           5.90
1          18.91
2          68.83
3         110.47
4        1557.14
...          ...
9421  8949023.18
9422  8949036.41
9423  8951252.34
9424  8951758.84
9425  8951931.32

[9426 rows x 1 columns]

In [ ]:
#we can also do cummax, and cummin

## Rolling methods

In [ ]:
#using Rolling, usse df[['col']].rolling(window=5).mean()
df[['Sales']].rolling(window=3).mean()

            Sales
0             NaN
1             NaN
2       22.943333
3       34.856667
4      512.743333
...           ...
9421  1004.510000
9422   810.136667
9423   892.343333
9424   911.886667
9425   964.970000

[9426 rows x 1 columns]

## Groupby

This is used when we want to summarize categorical features based on a certain numerical variable

In [187]:
# use groupby, use df.groupby('cat_col')[['num_coll']].mean(), e.g region and sales
df1.groupby(['Region','Product Category'])[['Sales', "Profit"]].mean()

                                Sales      Profit
Region  Product Category
Central Furniture         1379.161509   88.638050
        Office Supplies    431.538576  107.238571
        Technology        1406.353361  414.810503
East    Furniture         1803.889896   54.730878
        Office Supplies    559.307060  112.258206
        Technology        1574.912342  387.653638
South   Furniture         1476.381351   45.896183
        Office Supplies    340.264359   53.184958
        Technology        1396.153794   59.318218
West    Furniture         1971.977787  171.225845
        Office Supplies    399.814388   66.796625
        Technology        1717.114056  259.356226

In [ ]:
#Using agg() together with groupby e.g df.groupby('cta_col')[['num_col']].agg(['mean', 'min', 'max'])
df.groupby('Region')[['Sales']].agg(["mean", "min"])

               Sales
                mean   min
Region
Central   876.282035  2.24
East     1058.455518  1.32
South     817.475036  2.66
West     1047.039755  1.62

In [ ]:
#combining two numerical columns
df.groupby('Region')[['Sales', 'Profit']].agg(["mean", "min"])

               Sales            Profit
                mean   min        mean         min
Region
Central   876.282035  2.24  179.312027 -13706.4640
East     1058.455518  1.32  164.948094  -4017.6165
South     817.475036  2.66   53.327120 -16476.8380
West     1047.039755  1.62  136.098710 -14140.7016

## New columns

In [ ]:
df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Preferred Stainless Steel Scissors,0.56,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523

In [188]:
#ctreating a new column,  e.g df['new_col'] = df['Sales'] - df['Profit']
df1['Cost'] = df1['Sales'] - df1['Profit']

In [189]:
df1.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID', 'Cost'],
      dtype='object')

In [192]:
df1['Tax'] = df1['Sales']/.2
df1.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID', 'Cost', 'Tax'],
      dtype='object')

In [194]:
#Another way of creating new column using assign method, use df=df.assign(colname=expression)
#creating new column using .assign()
df1=df1.assign(col_2=df["Profit"]/0.3)
df1.columns

KeyError: 'Profit'

## Sorting

This is a way of ordering the values either in ascending or descending order

In [ ]:
df.Region.unique()

array(['Central', 'West', 'East', 'South'], dtype=object)

In [196]:
#sort values use  df.sort_values('col'), we can apply argument ascending= False to get the result in descending order
df1.sort_values('Region',ascending=False)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Cost,Tax
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,Envelopes,Small Box,Staples #10 Colored Envelopes,0.38,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.0624,23,172.48,87533,94.4176,862.40
2423,18395,Not Specified,0.01,65.99,8.99,922,Dolores Abrams,Express Air,Small Business,Technology,Telephones and Communication,Small Box,5180,0.56,West,California,Rancho Cucamonga,91730,2010-05-20,2010-05-21,396.9720,14,782.00,87135,385.0280,3910.00
2414,25931,Critical,0.08,5.28,5.66,918,Kerry Jernigan,Regular Air,Consumer,Office Supplies,Paper,Small Box,Xerox 4200 Series MultiUse Premium Copy Paper ...,0.40,West,California,Rancho Cucamonga,91730,2013-10-25,2013-10-26,-107.2000,20,105.88,90499,213.0800,529.40
2415,25677,High,0.10,8.34,2.64,919,Tracy Livingston,Regular Air,Consumer,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Elite Stainless Steel Scissors,0.59,West,California,Redding,96003,2010-04-12,2010-04-12,-6.3400,6,47.95,90492,54.2900,239.75
2416,19747,High,0.04,40.98,7.20,919,Tracy Livingston,Regular Air,Corporate,Office Supplies,Appliances,Small Box,Kensington 6 Outlet SmartSocket Surge Protector,0.60,West,California,Redding,96003,2012-02-20,2012-02-21,275.5000,12,483.59,90495,208.0900,2417.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4803,25533,Low,0.08,48.04,7.23,1779,Samantha Hall,Regular Air,Consumer,Office Supplies,Paper,Small Box,Xerox 1885,0.37,Central,Iowa,Ames,50010,2012-04-09,2012-04-11,315.4956,10,457.24,89948,141.7444,2286.20
4831,18503,Critical,0.08,6.48,8.40,1789,Allan Green,Regular Air,Consumer,Office Supplies,Paper,Small Box,Xerox 212,0.37,Central,Missouri,Wentzville,63385,2011-08-17,2011-08-18,-110.5052,19,116.98,88259,227.4852,584.90
4832,18775,Critical,0.05,29.17,6.27,1789,Allan Green,Regular Air,Consumer,Office Supplies,Binders and Binder Accessories,Small Box,Binding Machine Supplies,0.37,Central,Missouri,Wentzville,63385,2011-12-24,2011-12-26,411.1986,20,595.94,88261,184.7414,2979.70
4833,18776,Critical,0.03,146.05,80.20,1789,Allan Green,Delivery Truck,Consumer,Furniture,Tables,Jumbo Box,BPI Conference Tables,0.71,Central,Missouri,Wentzville,63385,2011-12-24,2011-12-25,-334.0935,6,895.53,88261,1229.6235,4477.65
4713,25345,Low,0.10,3.95,2.00,1750,Constance Britt,Regular Air,Consumer,Office Supplies,Rubber Bands,Wrap Bag,Advantus Map Pennant Flags and Round Head Tacks,0.53,Central,Oklahoma,Midwest City,73110,2011-02-02,2011-02-09,-2.3400,1,5.70,87247,8.0400,28.50

In [197]:
#resetting the index, use df[['col1', 'col2', 'col3']].sort_values('col3', ascending=False).reset_index(drop=True)
df1[['Region',"Product Name","Sales"]].sort_values("Sales", ascending=False)

       Region                                       Product Name      Sales
8461     West  Riverside Palais Royal Lawyers Bookcase, Royal...  100119.16
7013     West              Canon imageCLASS 2200 Advanced Copier   50332.66
7040     East                      Canon PC1080F Personal Copier   48418.58
4642     East  Fellowes PB500 Electric Punch Plastic Comb Bin...   45737.33
1418     West               Lexmark 4227 Plus Dot Matrix Printer   43046.20
...       ...                                                ...        ...
1066     West                                 Round Ring Binders       2.25
7511  Central                                Binder Clips by OIC       2.24
2770     East                                Binder Clips by OIC       1.65
932      West                                Bagged Rubber Bands       1.62
4369     East                                    OIC Thumb-Tacks       1.32

[9426 rows x 3 columns]

## Missing data

This is how we can check and fix null values

In [ ]:
#checking missing values, use df.isna(), add .sum()a better result
df.isna().sum()

Row ID                   0
Order Priority           0
Discount                 0
Unit Price               0
Shipping Cost            0
Customer ID              0
Customer Name            0
Ship Mode                0
Customer Segment         0
Product Category         0
Product Sub-Category     0
Product Container        0
Product Name             0
Product Base Margin     72
Region                   0
State or Province        0
City                     0
Postal Code              0
Order Date               0
Ship Date                0
Profit                   0
Quantity ordered new     0
Sales                    0
Order ID                 0
col_2                    0
dtype: int64

In [ ]:
#fixing the null values  by dropping the rows df.dropna(subset=['col with missing value']), or just df.dropna() for entire dataframe
df.dropna(inplace=True)
df.isna().sum()

Row ID                  0
Order Priority          0
Discount                0
Unit Price              0
Shipping Cost           0
Customer ID             0
Customer Name           0
Ship Mode               0
Customer Segment        0
Product Category        0
Product Sub-Category    0
Product Container       0
Product Name            0
Product Base Margin     0
Region                  0
State or Province       0
City                    0
Postal Code             0
Order Date              0
Ship Date               0
Profit                  0
Quantity ordered new    0
Sales                   0
Order ID                0
col_2                   0
dtype: int64

In [ ]:
#filling up the missing value with specific value, use df[['col1', 'col2', 'col3']].fillna(0)
df[['Region', 'Product Name']].fillna('unknown')

In [ ]:
#Filling with the mean of the column, use df['col1'].fillna(df['col1'].mean())
df['Sale'].fillna(df['Sales'].mean())

## Concat

concat is used when all the variables as similar

In [198]:
# create 2 dataframe
df2 = df1.query('Region == "West"').copy()
df3 = df1.query('Region == "East"').copy()

In [199]:
#concat, use pd.concat([df1, df2])
df4= pd.concat([df2,df3])
df4.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Cost,Tax
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522,8.4500,65.05
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523,97.5600,249.60
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Preferred Stainless Steel Scissors,0.56,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523,72.1500,208.20
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523,448.4677,7233.35
5,23597,Medium,0.09,55.48,14.30,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 194,0.37,West,Washington,Anacortes,98221,2011-11-09,2011-11-11,1388.0523,37,2011.67,88524,623.6177,10058.35

In [ ]:
#we can resset the index then concat as well
df1 = df1.reset_index(drop=True)
df2 = df2.reset_index(drop=True)

In [ ]:
#concat, use pd.concat([df1, df2], axis=1)
df_concat=pd.concat([df1,df2], axis=1)
df_concat.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,col_2,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,col_2
0,20847.0,High,0.01,2.84,0.93,3.0,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221.0,2010-07-07,2010-07-08,4.5600,4.0,13.01,88522.0,15.200,21866,High,0.05,12.28,4.86,7,Leon Gill,Regular Air,Home Office,Office Supplies,Paper,Small Box,Xerox 1933,0.38,East,Massachusetts,Fall River,2724,2012-10-30,2012-10-31,72.992800,19,232.95,90198,243.309333
1,23086.0,Not Specified,0.03,6.68,6.15,3.0,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221.0,2011-07-27,2011-07-28,-47.6400,7.0,49.92,88523.0,-158.800,20876,Medium,0.08,140.98,36.09,8,Melanie Garner,Delivery Truck,Home Office,Furniture,Bookcases,Jumbo Box,"Sauder Forest Hills Library, Woodland Oak Finish",0.77,East,New Hampshire,Bedford,3110,2012-12-25,2012-12-26,-158.740000,5,705.47,90199,-529.133333
2,23087.0,Not Specified,0.01,5.68,3.60,3.0,Bonnie Potter,Regular Air,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Preferred Stainless Steel Scissors,0.56,West,Washington,Anacortes,98221.0,2011-07-27,2011-07-28,-30.5100,7.0,41.64,88523.0,-101.700,20877,Medium,0.10,286.85,61.76,9,Lorraine Houston,Delivery Truck,Home Office,Furniture,Tables,Jumbo Box,Riverside Furniture Stanwyck Manor Table Series,0.78,East,New Jersey,Camden,8101,2012-12-25,2012-12-27,-346.615198,8,1794.27,90199,-1155.383992
3,23088.0,Not Specified,0.00,205.99,2.50,3.0,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221.0,2011-07-27,2011-07-27,998.2023,8.0,1446.67,88523.0,3327.341,22241,Critical,0.06,15.57,1.39,10,Meredith Norris Thomas,Regular Air,Home Office,Office Supplies,Envelopes,Small Box,Park Ridge™ Embossed Executive Business Envelopes,0.38,East,New Jersey,Pennsauken,8109,2011-10-04,2011-10-05,142.795500,14,206.95,90195,475.985000
4,23597.0,Medium,0.09,55.48,14.30,3.0,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 194,0.37,West,Washington,Anacortes,98221.0,2011-11-09,2011-11-11,1388.0523,37.0,2011.67,88524.0,4626.841,21776,Critical,0.06,9.48,7.29,11,Marcus Dunlap,Regular Air,Home Office,Furniture,Office Furnishings,Small Pack,"DAX Two-Tone Rosewood/Black Document Frame, De...",0.45,East,New Jersey,Roselle,7203,2010-08-15,2010-08-17,-53.809600,22,211.15,90192,-179.365333

## Merge dataframes

In [ ]:
#create 2 dataframe
df1 = df.groupby(['Region', 'Order Date'])[['Sales']].mean().reset_index()
df2 = df.groupby(['Region', 'Order Date'])[['Profit']].mean().reset_index()

In [ ]:
#merge left, use df1.merge(df2, how="left")
df1.merge(df2,how='left')

       Region Order Date        Sales        Profit
0     Central 2010-01-02    41.600000    -14.801880
1     Central 2010-01-03   105.740000   -157.562460
2     Central 2010-01-04   133.686667   -192.447800
3     Central 2010-01-05   682.815556    327.719257
4     Central 2010-01-06  6968.900000 -13706.464000
...       ...        ...          ...           ...
3775     West 2013-12-26   123.366667     17.941587
3776     West 2013-12-27    22.610000      7.671040
3777     West 2013-12-28   311.932500    178.420227
3778     West 2013-12-29    91.340000    -55.413120
3779     West 2013-12-30   213.005000    -30.581040

[3780 rows x 4 columns]

In [ ]:
#merge on right, use df1.merge(df2, how="right")

In [ ]:
#merging on outer, use df1.merge(df2, how="outer")

## Merge suffixes

In [ ]:
#merging using suffices use, pd.merge(df1, df2, on=['col1', 'col2'])

In [ ]:
#merge on specific similar column use pd.merge(df1, df2, on=df['col1'])

In [ ]:
#merging using both letf and right on,use pd.merge(df1, df2, left_on=['col1'], right_on=['col1'])